@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-size: cover;
  display: flex;
  background-position: center center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: rgb(192, 212, 229);
}
button {
  background: rgb(192, 212, 229);
  border: 0px solid #201d1c;
  border-radius: 10px;
  box-shadow: 0 0 6px #201d1c;
  margin-left: 5px;
  margin-top: 12px;
  width: 35px;
  height: 35px;
  font-size: 1.05em;
  font-weight: bold;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background: #ddd;
}
button:active {
  background: #b6e779;
}
.btn {
  background: transparent;
  width: 40px;
  height: 22px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  right: 15px;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0;
}
.btn-modal {
  width: 55px;
  height: 25px;
  color: black;
  border: none;
  margin-left: 20px;
  background: #ddd;
  box-shadow: 0 0 6px #201d1c;
}
.btn-modal:hover {
  transform: scale(1.15);
  background: rgb(192, 212, 229);
  border: none;
  cursor: pointer;
}
.btn-delete {
  margin: 0;
}
.btn-delete:hover {
  cursor: pointer;
  transform: scale(1.1);
}
header {
  width: 100%;
  background: #ddd;
  padding: 1rem;
  border-radius: 10px 10px 0px 0px;
}
table {
  width: 95%;
  margin: 0.5rem auto;
  border-collapse: collapse;
}
table td {
  text-align: left;
  font-weight: bold;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.3rem;
}
table th {
  padding: 1rem auto;
  text-align: right;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.form {
  padding-top: 10px;
}
.modal {
  position: relative;
  background: white;
  text-align: center;
  width: 330px;
  margin: 2rem auto;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 10px 10px;
}

.players {
  position: relative;
  background: white;
  text-align: center;
  width: 326px;
  padding-bottom: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #ddd;
  padding: 0.5rem;
  border-radius: 10px 10px 0px 0px;
}
.header-text {
  margin-right: 10px;
}
.modal-header {
  text-align: right;
  width: 100%;
  background: #cfd2cf;
  padding: 0.5rem;
  border-radius: 10px 10px 0px 0px;
}
input {
  width: 12rem;
  height: 2.2rem;
  outline: none;
  text-indent: 0.5rem;
  font-size: large;
}
.count {
  color: #457b9d;
  font-weight: bold;
  font-size: 24px;
}
p {
  display: inline-block;
}
a {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  transition: 0.3s;
}
a:hover {
  transform: scale(1.2);
  cursor: pointer;
}
img {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}
img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
h4 {
  display: inline-block;
  margin-left: 100px;
  text-align: center;
}
h3 {
  text-align: left;
  padding-left: 10px;
}
.map {
  display: flex;
  align-items: right;
}
.disabled {
  opacity: 0.4;
}
